$transparentPad: rgba(0, 0, 0, 0.7);
$courier: "Courier New", monospace;
$trebhms: "Trebuchet MS", Helvetica, sans-serif;

body {
    width: 100%;
    height: 100%;
    font-family: $trebhms;
    background-color: #FFFFFF;
}

$topPad: 50px;

#top-pad {
    width: 100%;
    background-color: $transparentPad;
    padding-bottom: $topPad + 20px;

    header {
        width: 100%;

        nav {
            width: 100%;
            font-family: $courier;
            font-weight: bold;
        }
    }
}

#main-content {
    width: 100%;
    // position: fixed;
    margin-top: $topPad;

    .row {
        width: 100%;
        height: 100%;
    }

    #post-form {
        padding-top: 30px;

        a {
            background: linear-gradient(#FFFFFF, #DEDEDE);
            border: none;
            border-radius: 5px;
        }

        a:active {
            background: linear-gradient(#DEDEDE, #FFFFFF);
            border: none;
        }
    }

    #post-container {
        background-color: #E6E6E6;
        height: 1000px;
        padding: 0px 20px 0px 20px;

        article.post {
            text-align: left;
            background-color: #FFFFFF;
            // padding: 0px 20px 0px 20px;
            margin-right: 100px;
            margin-left: 50px;

            p.post-date {
                padding: 10px 20px 10px 50px;
                // font-family: "Arial";
                font-size: 14px;
                color: #989898;
            }

            .post-container-lower {
                padding: 10px 20px 10px 20px;

                hr {
                    margin-bottom: 10px;
                }

                article.comment {
                    padding: 0px 0px 10px 0px;
                }

                .photo {
                    padding-right: 50px;
                }

                input {
                    background-color: #E2E2E2;
                    border: none;
                    border-radius: 8px;
                    padding: 5px 20px 5px 20px;
                }
            }
        }
    }

    #post-visit {
        font-family: $courier;
        // right: 0;
        // position: fixed;
        padding-top: 20px;
        text-align: center;

        h4 {
            font-size: 16px;
            font-weight: bold;
        }

        hr {
            margin-top: -5px;
            background-color: #B9B9B9;
            border: 0 none;
            height: 2px;
        }

        article {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}



#bot-pad {
    width: 100%;
    background-color: $transparentPad;
    padding: 20px 0px 0px 0px;
    bottom: 0;
    position: fixed;

    footer {
        width: 100%;
        background-color: #000000;
        color: #FFFFFF;
        text-align: right;
        padding: 20px 20px 20px 0px;
    }
}
