@font-face {
    font-family: BigNoodle;
    src: url('../fonts/Big-Noodle-Titling/big_noodle_titling.ttf') format('truetype');
}

@font-face {
    font-family: Diavlo;
    src: url('../fonts/Diavlo_II_37/Diavlo_LIGHT_II_37.otf') format('opentype');
}

@font-face {
    font-family: CenturyGothic;
    src: url('../fonts/century-gothic.ttf') format('truetype');
}

@font-face {
    font-family: CenturyGothic;
    font-weight: bold;
    src: url('../fonts/century-gothic-bold.ttf') format('truetype');
}

.alt-grid {
    [class*="col-"] {
        padding-left:0;
        padding-right:0
    }

    .row {
        margin-left:0;
        margin-right:0
    }

    .container-fluid {
        width:100%;
        max-width:none;
        padding:0;
    }
}

/** background colors */
$transparentPad: rgba(0, 0, 0, 0.7);

/** fonts */
$bignoodle: BigNoodle, monospace;
$consolas: 'Consolas', monospace;
$courier: courier, monospace;
$trebhms: 'Trebuchet MS', Helvetica, sans-serif;

/**
 * Main specs
 */
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: $trebhms;
    background-color: #E6E6E6;
}

.navbar-header {
    height: 90px;
}

nav {
    font-family: $consolas;
    padding-left: 20px;
    padding-right: 20px;

    .badge {
        background-color: #F2FF00;
        color: #000000;
    }

    #profile-photo {
        position: relative;
        width: 100px;
        margin-top: -30px;
    }

    .nav {
        margin-top: 30px;
        margin-bottom: -50px;
        display: inline-block;
    }

    .navbar-collapse.in {
        overflow-y: visible;
        padding-bottom: 30px;
    }
}

.nav-greeting {
    background-color: $transparentPad;
    color: #FFFFFF;
    font-weight: normal;
    font-family: $bignoodle;
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: right;
    padding-right: 13%;
}

.navbar {
    border-radius: 0;
    min-height: 30px;
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: #000;
}

ul {
    margin-bottom: 0;
}

.white-pad {
    background-color: #ffffff;
    padding-left: 20%;
    margin-top: -23px;

    li {
        display: inline;
        position: relative;
        padding-left: 5px;

        a {
            background-color: #212121;
            border-radius: 0;
            color: #ffffff;
            display: inline-block;
            font-family: $bignoodle;
            padding: 10px;
            line-height: 0.7em;
            text-align: center;
            text-decoration: none;
            width: 100px;
        }

        a.active, a:hover {
            background-color: #444444;
            color: #ffffff;
        }
    }
}

.lightgray-pad {
    background-color: #D1D1D1;
    height: 7px;
}

.modal-content {
    border-radius: 0;
    font-family: CenturyGothic, sans-serif;

    #form-post {
        padding-left: 5em;
        padding-right: 5em;
    }

    .form-control {
        background-color: #E6E6E6;
        border: 0;
        border-radius: 8px;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #000;
        font-weight: bold;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #000;
       opacity:  1;
       font-weight: bold;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #000;
       opacity:  1;
       font-weight: bold;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #000;
       font-weight: bold;
    }

    textarea {
        resize: none;
    }

    .checkbox label {
        font-weight: bold;
    }
}

.btn-post {
    color: #fff;
    background-color: #000;
    border-radius: 0;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;

    &:hover {
        color: #fff;
    }
}

.main-content {
    width: 100%;
    height: 100%;
    padding-top: 90px;

    .post-form {
        background-color: #ffffff;
        padding-top: 40px;
        position: fixed;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;

        a {
            background: linear-gradient(#FFFFFF, #DEDEDE);
            border: none;
            border-radius: 5px;
            font-family: 'BuxtonSketch';
            font-size: 1.2em;
            margin: 0 auto;
        }

        a:active {
            background: linear-gradient(#DEDEDE, #FFFFFF);
            border: none;
        }
    }

    .post-container {
        font-family: $consolas;
        height: 100%;
        padding-top: 20px;

        .post-author {
            margin-left: -8.8%;
            padding-top: 10px;

            .post-author-name {
                padding-top: 20px;
                padding-left: 16.55%;
                margin-bottom: -9.5%;
                font-size: 1.25em;
                font-weight: bold;
            }

            .post-author-photo img {
                width: 16%;
            }
        }

        article.post {
            background-color: #FFFFFF;
            margin-top: -8.5%;
            text-align: left;

            p.post-date {
                padding: 10px 20px 10px 9.5%;
                font-size: 0.8em;
                color: #989898;
            }

            .post-container-lower {
                padding: 10px 10px 10px 20px;

                hr {
                    margin-top: 5px;
                    margin-bottom: 10px;
                    background-color: #CCCCCC;
                    border: 0 none;
                    height: 1px;
                }

                input {
                    background-color: #E2E2E2;
                    border: none;
                    border-radius: 8px;
                    padding-left: 25px;
                }

                table.post-share-action {
                    td {
                        font-family: $courier;
                        width: 20px;
                        text-align: center;

                        a {
                            cursor: pointer;
                        }

                        img.action-icon {
                            width: 1.5em;
                        }
                    }
                }

                table.post-comment {
                    width: 100%;

                    td {
                        padding: 5px 0 5px 5px;
                    }

                    td.photo {
                        width: 10%;
                    }

                    td.word {
                        font-size: 0.9em;
                        padding-left: 30px;
                        width: 90%;
                    }

                    tfoot td {
                        padding-top: 5px;
                    }

                    img.comment-photo {
                        width: 3em;
                    }

                    td > input {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }

    .post-visit {
        font-family: Diavlo;
        background-color: #ffffff;
        height: 100%;
        padding-top: 30px;
        padding-left: 1.5em;
        padding-right: 1.5em;
        text-align: center;
        position: fixed;
        overflow-y: scroll;

        hr {
            margin-top: -5px;
            margin-bottom: 0;
            background-color: #B9B9B9;
            border: 0 none;
            height: 2px;
        }

        article {
            padding: 10px 15px 10px 15px;

            .visit-author {
                width: 3.5em;
                margin-left: -1.75em;
                margin-top: -65px;
                padding-bottom: 10px;
            }
        }
    }

    .ads {
        font-family: Diavlo;
        background-color: #ffffff;
        height: 100%;
        margin-left: 40px;
        padding: 30px 15px 0 15px;
        position: fixed;
        text-align: center;

        hr {
            margin-top: -5px;
            margin-bottom: 20px;
            background-color: #B9B9B9;
            border: 0 none;
            height: 2px;
        }
    }
}

.terms-copyright {
    width: 100%;
    font-size: 12px;
    text-align: center;

    .terms {
        font-family: $consolas;
    }

    .copyright {
        font-family: Arial;
    }
}

.trans-black-pad {
    background-color: $transparentPad;
    bottom: 0; left: 0; right: 0;
    height: 0.8em;
    margin-bottom: 0;
    position: fixed;
    z-index: 1000;
}

@media screen and (max-width: 767px) {
    .post-container {
        padding-left: 8%;
        padding-right: 8%;
    }

    #nav-brand-img {
        width: 50px;
    }

    .navbar-header {
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .post-container {
        padding-left: 10%;
        padding-right: 10%;
    }

    .navbar-header {
        height: 90px;
    }

    .post-visit {
        margin-left: 0;
    }
}

@media screen and (min-width: 993px) {
    .post-container {
        padding-left: 12%;
        padding-right: 8%;
    }

    .navbar-header {
        height: 90px;
    }

    .post-visit {
        width: 25%;
    }
}

@media screen and (min-width: 1201px) {
    .post-container {
        padding-left: 15%;
        padding-right: 10%;
    }

    .navbar-header {
        height: 90px;
    }

    .post-visit {
        margin-left: 0.5%;
        width: 21.5%;
    }
}
