body {
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #FFFFFF; }

#top-pad {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 70px; }
  #top-pad header {
    width: 100%; }
    #top-pad header nav {
      width: 100%;
      font-family: "Courier New", monospace;
      font-weight: bold; }

#main-content {
  width: 100%;
  margin-top: 50px; }
  #main-content .row {
    width: 100%;
    height: 100%; }
  #main-content #post-form {
    padding-top: 30px; }
    #main-content #post-form a {
      background: linear-gradient(#FFFFFF, #DEDEDE);
      border: none;
      border-radius: 5px; }
    #main-content #post-form a:active {
      background: linear-gradient(#DEDEDE, #FFFFFF);
      border: none; }
  #main-content #post-container {
    background-color: #E6E6E6;
    height: 650px;
    padding: 0px 20px 0px 20px; }
    #main-content #post-container .post-author {
      margin-left: 80px; }
    #main-content #post-container article.post {
      text-align: left;
      background-color: #FFFFFF;
      margin-right: 100px;
      margin-left: 50px; }
      #main-content #post-container article.post p.post-date {
        padding: 10px 20px 10px 50px;
        font-size: 14px;
        color: #989898; }
      #main-content #post-container article.post .post-container-lower {
        padding: 10px 10px 200px 20px; }
        #main-content #post-container article.post .post-container-lower hr {
          margin-top: 5px;
          margin-bottom: 10px;
          background-color: #CCCCCC;
          border: 0 none;
          height: 1px; }
        #main-content #post-container article.post .post-container-lower input {
          background-color: #E2E2E2;
          border: none;
          border-radius: 8px;
          padding-left: 25px; }
        #main-content #post-container article.post .post-container-lower .post-comment {
          width: 100%; }
          #main-content #post-container article.post .post-container-lower .post-comment td {
            padding: 5px 10px 5px 5px; }
          #main-content #post-container article.post .post-container-lower .post-comment td.photo {
            width: 10%; }
          #main-content #post-container article.post .post-container-lower .post-comment td.word {
            width: 90%;
            padding-left: 30px; }
          #main-content #post-container article.post .post-container-lower .post-comment tfoot td {
            padding-top: 20px; }
  #main-content #post-visit {
    font-family: "Courier New", monospace;
    padding-top: 20px;
    text-align: center; }
    #main-content #post-visit h4 {
      font-size: 16px;
      font-weight: bold; }
    #main-content #post-visit hr {
      margin-top: -5px;
      background-color: #B9B9B9;
      border: 0 none;
      height: 2px; }
    #main-content #post-visit article {
      padding-top: 10px;
      padding-bottom: 10px; }
  #main-content #ads {
    display: none; }

#bot-pad {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 0px 0px 0px;
  bottom: 0;
  position: fixed; }
  #bot-pad footer {
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    text-align: right;
    padding: 20px 20px 20px 0px; }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0; }
    .rslides li :first-child {
      position: relative;
      display: block;
      float: left; }
  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0; }
